<div class="parent">
  <h1>Liste des accusations</h1>
  <table>
    <thead>
      <tr>
        <th>Crime</th>
        <th>Personne</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="accusations.length == 0">
        <td colspan="2">Il n'y a pas d'accusation pour le moment</td>
      </tr>
      <tr *ngFor="let accusation of accusations" key="index">
        <td>{{ accusation.crime }}</td>
        <td>{{ accusation.nom }}</td>
        <td>
          <div class="btn-parent">
            <a
              routerLink="../manage-accusation"
              [queryParams]="{ nom: accusation.nom, crime: accusation.crime }"
              >Détails</a
            >
            <a
              routerLink="../ajouter-preuve"
              [queryParams]="{ nom: accusation.nom, crime: accusation.crime }"
              >Ajouter des preuves</a
            >
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal" *ngIf="isAccusationManaged">
    <div class="modal-content">
      <p>TEST</p>
    </div>
  </div>
</div>
