<div class="parent">
  <h1>
    Gestion des preuves sur l'accusation de "{{ nom }}" concernant le crime :
    "{{ crime }}"
  </h1>
  <h2>Preuve<span *ngIf="facts.length > 1">s</span> déja receuillies</h2>
  <ul>
    <li *ngFor="let fact of facts">{{ fact }}</li>
  </ul>

  <br />
  <p *ngIf="remain_proofs.length == 0">Toutes les preuves sont déja réunies.</p>
  <h2 *ngIf="remain_proofs.length > 0">
    Preuve<span *ngIf="remain_proofs.length > 1">s</span> restant<span
      *ngIf="remain_proofs.length > 1"
      >s</span
    >
  </h2>
  <form>
    <div formArrayName="proofs">
      <div *ngFor="let proof of remain_proofs; let i = index" key="index">
        <input type="checkbox" />
        <span>{{ proof }}</span>
      </div>
    </div>
    <button type="submit" *ngIf="remain_proofs.length > 0">Ajouter</button>
  </form>
</div>
